@model Bookshop.Models.Book

@{
    ViewBag.Title = "Delete Book";
}

<h3 class="col-md-8 col-md-offset-4">Are you sure you want to delete this book?</h3>
<div>
    <hr />
    <dl class="dl-horizontal col-md-8 col-md-offset-4">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input style="left:50%; position:relative;" type="submit" value="Delete" class="btn btn-default" />
            <hr />
            @Html.ActionLink("Back to List Book", "Index")
        </div>
    }
</div>
